<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>

    <div class="main-content">
        {{>header}}
         <p>This site was created by Henry Ozomgbachi. It uses data from mapbox.com and weatherstack.com to get weather information of any location around the world. </p>
    <p>To use this application, you have to enter your town alongside the state correctly to get the exact weather details.</p>
    <img src="/img/myself.jpeg" alt="myself" class="portrait" />
    <p>This is a very mini application deployed for the aforementioned purpose. It was built using NodeJS.</p>

   
    </div>
    
    {{>footer}}
  </body>
</html>