<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="main-content">
        {{>header}}

    <p>You only need to provide an address to see the weather condition of the selected location.</p>
    <p>If you are getting unexpected results, kindly ensure your spelling is correct, or add more information like <strong>town or  state</strong> to your search word. </p>
    <a href="/"> Get Started</a>
    </div>
 
    {{>footer}}
  </body>
</html>